---
---

@import "{{ site.theme }}";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.section {
    padding: 30px 100px 30px 80px !important;
    margin-top: 0 !important;
}

.sidebar {
    width: 10vw;
    min-width: 200px;
    background-color: #2a2a2a;
    color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    height: 100%;
}

.header {
    position: absolute !important;
    padding: 60px 20px 20px 20px !important;
}

.icon {
    z-index: 10;
}

.icon img {
    width: 80%;
    margin: 0 auto 10px;
    display: block;
}

header h1 {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 10px;
}

header p {
    font-size: 0.9em;
    text-align: center;
}

.toc {
    left: 0 !important;
    margin-left: 0 !important;
}

.toc ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.toc ul li a {
    color: #f4f4f4;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
}

.folder {
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
}

.folder:hover {
    color: #c0c0c0;
}

.nested {
    display: none;
    padding-left: 15px;
}

.folder.active+.nested {
    display: block;
}

footer {
    font-size: 0.8em;
    text-align: center;
    padding: 10px 0;
    left: 0 !important;
    margin-left: 0 !important;
}

/*Scrollable content area*/
.content {
    margin-left: 20vw;
    position: relative;
    width: 80vw;
    overflow-y: auto;
    padding: 20px;
}

@media (max-width: 768px) {
    .sidebar {
        width: 80px;
    }

    .content {
        margin-left: 80px;
        width: calc(100% - 80px);
    }

    header h1,
    header p {
        display: none;
    }
}
