---
---

@import "{{ site.theme }}";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif !important;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.section {
    padding: 30px 100px 30px 80px !important;
    margin-top: 0px !important;
    width: auto !important;
}

.sidebar {
    width: 20vw !important;
    min-width: 200px !important;
    background-color: #2a2a2a !important;
    color: #f4f4f4 !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    padding: 10px !important;
    position: fixed !important;
    height: 100% !important;
}

.header {
    position: absolute !important;
    padding: 60px 20px 20px 20px !important;
}

.icon {
    z-index: 10 !important;
}

.icon img {
    width: 40% !important;
    margin: 0 auto 10px !important;
    display: block !important;
    z-index: 10 !important;
}

header h1 {
    font-size: 1.2em !important;
    text-align: center !important;
    margin-bottom: 10px !important;
}

header p {
    font-size: 0.9em !important;
    text-align: center !important;
}

.toc {
    left: 0 !important;
    margin-left: 0 !important;
}

.toc ul {
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.toc ul li a {
    color: #f4f4f4 !important;
    text-decoration: none !important;
    display: block !important;
    padding: 5px 10px !important;
}

.folder {
    font-weight: bold !important;
    cursor: pointer !important;
    padding: 5px 10px v;
}

.folder:hover {
    color: #c0c0c0 !important;
}

.nested {
    display: none !important;
    padding-left: 15px !important;
}

.folder.active+.nested {
    display: block !important;
}

footer {
    font-size: 0.8em !important;
    text-align: center !important;
    padding: 10px 0 !important;
    left: 0 !important;
    margin-left: 0 !important;
}

/*Scrollable content area*/
.content {
    margin-left: 20vw !important;
    position: relative !important;
    width: 80vw !important;
    overflow-y: auto !important;
    padding: 20px !important;
}

@media (max-width: 768px) {
    .sidebar {
        width: 80px;
    }

    .content {
        margin-left: 80px;
        width: calc(100% - 80px);
    }

    header h1,
    header p {
        display: none;
    }
}